#block-tables.block

  .content
    %h2 Utilisateurs de l'application
    .inner
      %table.table
        %thead
          %tr
            %th Login
            %th Email
            %th Nombre de document
            %th Activé?
            %th.last
        %tbody
          - @users.each do |user|
            %tr{:class => "#{cycle('odd','even')} user" }
              %td= user.login
              %td= user.email
              %td= user.nb_document
              %td= user.activated ? 'oui' : 'non'
              %td= user.activated ? '' : link_to('activer', resource(user,:activate))

      = will_paginate @users
