- @title = "Utilisateur : #{@user.login}"

#block-lists.block
  .content
    %h2= "#{@user.login}"
    .inner
      #user
        %p
          Créer depuis :
          = @user.created_at
        %p
          Ajout de
          = @user.nb_document
          Documents
