!!! Strict
%html
  %head
    %title= title_header
    = css_include_tag 'base'
    = css_include_tag 'default'
    = js_include_tag 'jquery'
    = js_include_tag 'jquery.form'
    = catch_content :head
  %body
    #container
      #header
        %h1= link_to 'Ortho-partage', '/'
        #user-navigation
          %ul
            - unless authenticated?
              %li= link_to('Login', url(:login))
              %li= link_to("S'enregistrer", url(:new_user))
            - else
              %li= link_to('Mon profil', url(:edit_user, session.user))
              - if session.user && session.user.global_admin?
                %li= link_to('Administration', resource(:users))
              %li= link_to 'Déconnection', url(:logout)
          .clear
        #main-navigation
          %ul
            - Materiel::CATEGORY.each do |category|
              %li.first{:class => 'current'}= link_to category, url(:materiels, :category => category)
          .clear

        - if message[:notice]
          .notice
            %p.notice{:class => 'flash'}= message[:notice]
    #wrapper
      #main
        .block
          = catch_content :for_layout
        #footer
          .block
            %p
              Version 0.1.0
        .clear
      #sidebar
        :javascript
          <!--
          google_ad_client = "pub-9948971726066025";
          /* ortho-partage */
          google_ad_slot = "7100753566";
          google_ad_width = 160;
          google_ad_height = 600;
          //-->
        =js_include_tag "http://pagead2.googlesyndication.com/pagead/show_ads.js"
      .clear
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-10970913-1");
      pageTracker._trackPageview();
      } catch(err) {}
