.secondary-navigation
  %ul
    - Materiel::SUB_CATEGORY.each do |sub_category|
      %li{:class => ''}= link_to(sub_category, url(:materiels, :category => @conditions[:category], :sub_category => sub_category))
  .clear

#block-tables.block

  .content
    .inner
      %table.table
        %thead
          %tr
            %th Ortho-partageur
            %th nom du document
            %th description
            %th.last Lien de téléchargement
        %tbody
          - @materiels.each do |materiel|
            %tr{:class => "#{cycle('odd','even')} materiel" }
              %td= materiel.from.login
              %td= materiel.name
              %td= materiel.description
              %td= link_to('Télécharger', materiel.doc.url)


      .actions-bar
        = will_paginate @materiels
        .actions
          = link_to 'Ajouter un document', resource(:materiels, :new), :class => 'button'

