#block-forms.block
  .content

    %h2 Ajouter un nouveau document

    .inner
      .flash
        = message[:error]
        = error_messages_for @materiel

      = form_for(@materiel, :action => resource(:materiels), :class => 'form') do

        .group
          %label.label{:for => 'materiel[name]'} Nom du document :
          = text_field :name, :class => 'text_field'

        .group
          %label.label{:for => 'materiel[category]'} Category :
          = text_field :category, :class => 'text_field'

        .group
          %label.label{:for => 'materiel[sub_category]'} Sous category :
          = text_field :sub_category, :class => 'text_field'

        .group
          %label.label{:for => 'materiel[doc]'} Doc :
          = file_field :doc

        %div{:class => 'group navform'}
          = submit :send, :class => 'button'
          or
          = link_to 'Cancel', resource(:materiels)

