#block-forms.block
  .content

    %h2 Ajouter un nouveau document

    .inner
      .flash
        = message[:error]
        = error_messages_for @materiel

      = form_for(@materiel, :action => resource(:materiels), :class => 'form') do

        .group
          %label.label{:for => 'materiel[name]'} Nom du document :
          = text_field :name, :class => 'text_field'

        .group
          %label.label{:for => 'materiel[description]'} Description:
          = text_area(@materiel.description, :name => 'materiel[description]', :cols => 40, :rows => 15, :class => 'text_area')

        .columns
          %div{:class => 'column left'}
            .group
              %label.label{:for => 'materiel[category]'} Categorie :
              = select :category, :collection => Materiel::CATEGORY, :class => 'text_field'

          %div{:class => 'column left'}
            .group
              %label.label{:for => 'materiel[sub_category]'} Sous categorie :
              = select :sub_category, :collection => Materiel::SUB_CATEGORY, :class => 'text_field'

        .clear
        .group
          %label.label{:for => 'materiel[doc]'} Doc :
          = file_field :doc

        %div{:class => 'group navform'}
          = submit 'Créer', :class => 'button'
          ou
          = link_to 'Annuler', resource(:materiels)

